﻿@page "/"
@using RamenTurismo.Website.Shared;

<div>
    @foreach (BlogPostSummary item in _posts)
    {
        <Post Title="@item.Title" ChangedAt="@item.ChangedAt" CreateAt="@item.CreatedAt" ShortDesription="@item.ShortDescription" Tags="@item.Tags" />
    }
</div>
