﻿@inherits LayoutComponentBase

<div class="page">
    <div class="leftbar">
        <LeftBar />
    </div>

    <main>
        <div class="topbar">
            <TopBar />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
