﻿<article>
    <div>Created @CreateAt.ToString("D T")</div>
    <div>@Title</div>
    <div>@ShortDesription</div>
    <div>
        @foreach(string tag in Tags)
        {
            <i>#@tag</i>
        }
    </div>
</article>

@code {
    [Parameter]
    [EditorRequired]
    public string? Title { get; set; }

    [Parameter]
    [EditorRequired]
    public DateTime CreateAt { get; set; }

    [Parameter]
    public DateTime? ChangedAt { get; set; }

    [Parameter]
    [EditorRequired]
    public string? ShortDesription { get; set; }

    [Parameter]
    [EditorRequired]
    public IEnumerable<string> Tags { get; set; } = null!;
}